{{#if beforeComponent}}
  {{component beforeComponent model=model}}
{{/if}}
{{#if expandable}}
    <div class="{{if expanded 'aet-expanded' 'aet-collapsed'}}" {{action 'toggleExpand'}}></div>
{{/if}}
{{#if loading}}
    <i class="fa fa-circle-o-notch fa-spin"></i>
{{/if}}
<span {{action 'clickItem' model}}>{{label}}</span>
{{#if afterComponent}}
  {{component afterComponent model=model}}
{{/if}}
{{#if showSublist}}
    <ul class="sublist">
      {{#if expanded}}
        {{#each children as |child|}}
          {{async-expanding-tree model=child config=config fetchChildrenOnInit=true}}
        {{/each}}
        {{#if showLoadMore}}
          <div class="aet-load-more">
            <span class="aet-shown">{{childrenSlice}}</span>
            <span class="aet-total">{{model.children.length}}</span>
            <button class="btn btn-info btn-sm" {{action 'loadMoreChildren'}}>load more</button>
          </div>
        {{/if}}
      {{/if}}
    </ul>
{{/if}}
